html, body {
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    max-width: 1000px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}


.nav {
    max-width: 800px;
}
.nav__link {
    color: black;
    text-decoration: none;
}